<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>999895075326-8sm4ofben98s168qm3h7if64cr61fn44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999895075326-8sm4ofben98s168qm3h7if64cr61fn44</string>
	<key>API_KEY</key>
	<string>AIzaSyD1aqCZgaAf6Ne3JX2kZ_zxFU7jmgC7x18</string>
	<key>GCM_SENDER_ID</key>
	<string>999895075326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.88company.tomato</string>
	<key>PROJECT_ID</key>
	<string>tomato-1c327</string>
	<key>STORAGE_BUCKET</key>
	<string>tomato-1c327.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999895075326:ios:ce32c72f6fc10d0c</string>
	<key>DATABASE_URL</key>
	<string>https://tomato-1c327.firebaseio.com</string>
</dict>
</plist>